<form (submit)="onSubmit()">
  <iemail></iemail>
  <iemail></iemail>

  <ipassword></ipassword>
  <iemail></iemail>
  <button class="btn btn-primary">
    Login
  </button>
  <span *ngIf="result">{{result}}</span>


  <div>
    <a href="/social/socialGoogle/" target="_self" class="btn btn-danger btn-block">
      <i class="fa fa-google"></i> Login with Google</a>
  </div>
  <div>
    <a href="/social/socialFacebook/" target="_self" class="btn btn-info btn-block">
      <i class="fa fa-facebook"></i> Login with Facebook</a>
  </div>

</form>
