<form (submit)="onSubmit()">
  <!--<advanceInput [type]="'email'"></advanceInput>
  <advanceInput [type]="'username'"></advanceInput>
  <advanceInput [type]="'password2'"></advanceInput>-->
  <iemail (userUpdated)="handleUserUpdated($event)"></iemail>
  <iusername (userUpdated)="handleUserUpdated($event)"></iusername>
  <ipassword [dual]='true' (userUpdated)="handleUserUpdated($event)"></ipassword> 
  <button class="btn btn-primary">
    Signup
  </button>
  <span *ngIf="result">{{result}}</span>


  <div>
    <a href="/social/socialGoogle/" target="_self" class="btn btn-danger btn-block">
      <i class="fa fa-google"></i> Login with Google</a>
  </div>
  <div>
    <a href="/social/socialFacebook/" target="_self" class="btn btn-info btn-block">
      <i class="fa fa-facebook"></i> Login with Facebook</a>
  </div>

</form>
