<extended-input *ngIf='$email'
  [labelText]="'Email'"
  [inputErrors]="$email.errors"
  [errorKeys]="{pristine: '',
                required: 'Email is required',
                email: 'Not a valid Email',
                invalidEmail: 'Not a valid Email'}"
  [labelCss]="'iemailCss'">
  <input [formControl]="$email" [(ngModel)]="_email" type="text"/>
</extended-input>


<extended-input *ngIf='$username'
  [labelText]="'Username'"
  [inputErrors]="$username.errors"
  [errorKeys]="{pristine: '',
                required: 'Username is required',
                pattern: 'Invalid username (Should have only a-z,0-9,.,_ and 5-20 chars,without any spaces)',
                unavailable : 'Username already taken!',
                '503': 'No internet access'
              }"
  [message]="message"
  [messageClass]="'uMessage'">
  <input [formControl]="$username" [(ngModel)]="_username" type="text"/>
</extended-input>

<extended-input *ngIf='$password2'
  [labelText]="'Password'"
  [inputErrors]="$password2.errors"
  [errorKeys]="{pristine: '',
                required: 'Password is required',
                minlength: 'Password too small',
                maxlength: 'Password too long',
                pattern: 'Invalid character used,use(a-z,0-9,A-Z,!,@,#,$,%,^,&,*,(,),_,.)'
              }">
  <input [formControl]="$password2" [(ngModel)]="_password2" type="password"/>
</extended-input>
<extended-input *ngIf="createMode"
  [labelText]="'Re-enter Password'"
  [inputErrors]="$password.errors"
  [errorKeys]="{pristine: '',
                required: 'Required',
                mismatch: 'Passwords do not match!'
              }"
  [message]="message"
  [messageClass]="'pMessage'">
  <input [formControl]="$password" [(ngModel)]="_password" type="password"/>
</extended-input>
